<div class="container-fluid" ng-controller="repEmpleadoController">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="jumbotron" id="contenidoGenerar">
				<h3 class="text-center">Reporte de Altas y Bajas de Empleados</h3>
				<form action="/sayet/pln/php/controllers/empleado.php/altasbajas" method="GET" class="form-horizontal" role="form" target="_blank">
					<div class="form-group form-group-sm">
						<label for="selectEmpresaDebito" class="col-sm-2 control-label">Empresa Débito:</label>
						<div class="col-sm-10">
							<select class="form-control" name="debito" id="selectEmpresaDebito">
								<option value="">------</option>
								<option ng-repeat="emp in empresas" value="{{emp.id}}">{{emp.nomempresa}}</option>
							</select>
						</div>
					</div>

					<div class="form-group form-group-sm">
						<label for="selectEmpresaActual" class="col-sm-2 control-label">Empresa Actual:</label>
						<div class="col-sm-10">
							<select class="form-control" name="actual" id="selectEmpresaActual">
								<option value="">------</option>
								<option ng-repeat="emp in empresasPlanilla" value="{{emp.id}}">{{emp.nombre}}</option>
							</select>
						</div>
					</div>

					<div class="form-group form-group-sm">
						<label for="selectProyecto" class="col-sm-2 control-label">Proyecto:</label>
						<div class="col-sm-10">
							<select class="form-control" name="proyecto" id="selectProyecto">
								<option value="">------</option>
								<option ng-repeat="emp in proyectos" value="{{emp.id}}">{{emp.nomproyecto}}</option>
							</select>
						</div>
					</div>

					<div class="form-group form-group-sm">
						<label for="inputFdel" class="col-sm-2 control-label">Del:</label>
						<div class="col-sm-4">
							<input type="date" class="form-control" name="fdel" required="required" id="inputFdel">
						</div>
						<label for="inputFal" class="col-sm-2 control-label">Al:</label>
						<div class="col-sm-4">
							<input type="date" class="form-control" name="fal" required="required" id="inputFal">
						</div>
					</div>

					<div class="form-group form-group-sm">
						<div class="col-sm-12 text-center">
							<label class="radio-inline">
							  <input type="radio" name="estatus" id="inlineRadio1" value="1" required="required"> Altas
							</label>
							<label class="radio-inline">
							  <input type="radio" name="estatus" id="inlineRadio2" value="2" required="required"> Bajas
							</label>
						</div>
					</div>
				
					<div class="form-group form-group-sm">
						<div class="col-sm-10 col-sm-offset-2 text-right">
							<button type="submit" class="btn btn-primary btn-sm">
								<i class="glyphicon glyphicon-search"></i> Buscar
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>