<div class="container" ng-controller="servicioPropioCtrl">
    <ul class="nav nav-tabs">
        <li class="active">
            <a show-tab href="#divFrmSrvc" data-toggle="tab">SERVICIOS PROPIOS</a>
        </li>
        <li ng-show="servicio.id > 0">
            <a show-tab href="#divHistorial" data-toggle="tab">HISTORIAL</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="divFrmSrvc" class="tab-pane fade in active">
            <div class="panel panel-info">
                <div class="panel-heading">Servicios propios</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 nopadding" style="text-align: right">
                            <button type="button" class="btn btn-info btn-xs" ng-click="showForm.servprop = !showForm.servprop" ng-hide="showForm.servprop" aria-label="Toggle ngHide">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <button type="button" class="btn btn-info btn-xs" ng-click="showForm.servprop = !showForm.servprop" ng-show="showForm.servprop" aria-label="Toggle ngHide">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                        </div>
                    </div>
                    <form name="frmSrvc" id="frmSrvc" ng-submit="frmSrvc.$valid && addServicio(servicio)" class="check-element animate-show" ng-show="showForm.servprop" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error':frmSrvc.selTipo.$invalid && !frmSrvc.selTipo.$pristine}">
                                    <label for="selTipo">Tipo:</label>
                                    <select name="selTipo" id="selTipo" class="form-control" ng-model="servicio.objTipo"
                                            ng-options="obj.desctiposervventa for obj in tipos track by obj.id" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error':frmSrvc.txtNoId.$invalid && !frmSrvc.txtNoId.$pristine}">
                                    <label for="txtNoId">No. de identificaci&oacute;n:</label>
                                    <input name="txtNoId" id="txtNoId" type="text" class="form-control" ng-model="servicio.numidentificacion"
                                           placeholder="No. contador, etc..." maxlength="50" required/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error':frmSrvc.txtNoRef.$invalid && !frmSrvc.txtNoRef.$pristine}">
                                    <label for="txtNoRef">No. de referencia:</label>
                                    <input name="txtNoRef" id="txtNoRef" type="text" class="form-control" ng-model="servicio.numreferencia"
                                           placeholder="No. de correlativo, tel&eacute;fono, etc..." maxlength="50" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':frmSrvc.selEmpresa.$invalid && !frmSrvc.selEmpresa.$pristine}">
                                    <label for="selEmpresa">Empresa</label>
                                    <select name="selEmpresa" id="selEmpresa" class="form-control" ng-model="servicio.objEmpresa"
                                            ng-options="obj.nomempresa for obj in empresas track by obj.id" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{'has-error':frmSrvc.txtPrecMCubSug.$invalid && !frmSrvc.txtPrecMCubSug.$pristine}">
                                    <label for="txtPrecMCubSug">Precio:</label>
                                    <input name="txtPrecMCubSug" id="txtPrecMCubSug" type="text" class="form-control" ng-model="servicio.preciomcubsug"
                                           fcsa-number="{min:0, maxDecimals:2}"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{'has-error':frmSrvc.txtMCubSug.$invalid && !frmSrvc.txtMCubSug.$pristine}">
                                    <label for="txtMCubSug">Cantidad base:</label>
                                    <input name="txtMCubSug" id="txtMCubSug" type="text" class="form-control" ng-model="servicio.mcubsug"
                                           fcsa-number="{min:0, maxDecimals:2}"/>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" class="btn btn-info" ng-disabled="frmSrvc.$invalid" ng-hide="servicio.id > 0">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                            <button type="button" class="btn btn-info" ng-disabled="frmSrvc.$invalid" ng-show="servicio.id > 0" ng-click="updServicio(servicio)">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-show="servicio.id > 0" ng-click="delServicio(servicio)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button type="button" class="btn btn-info" ng-show="servicio.id > 0" ng-click="resetservicio()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </form>
                    <hr/>
                    <table class="table table-responsive table-hover table-condensed">
                        <caption>
                            <input ng-model="search.$" class="form-control" placeholder="Buscar..." style="width: 100%"/>
                        </caption>
                        <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>No. Identificaci&oacute;n</th>
                            <th>No. Referencia</th>
                            <th>Empresa</th>
                            <th>Precio</th>
                            <th>Cant. Base</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in servicios | filter:search:strict" ng-click="getServicio(s.id)">
                            <td>{{s.tiposervicio}}</td>
                            <td>{{s.numidentificacion}}</td>
                            <td>{{s.numreferencia}}</td>
                            <td>{{s.empresa}}</td>
                            <td>{{s.preciomcubsug | number:2}}</td>
                            <td>{{s.mcubsug | number:2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="divHistorial" class="tab-pane fade">
            <div class="panel panel-success">
                <div class="panel-heading">Historial</div>
                <div class="panel-body">
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>Proyecto</th>
                            <th>Unidad</th>
                            <th>De</th>
                            <th>A</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="h in historico">
                            <td>{{h.proyecto}}</td>
                            <td>{{h.tipolocal}} - {{h.nombre}} - {{h.descripcion}}</td>
                            <td>{{h.fini | date:'dd/MM/yyyy'}}</td>
                            <td>{{h.ffin | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>