<div class="container" ng-controller="rptEstadoResultadosCtrl">
    <ul class="nav nav-tabs">
        <li class="active">
            <a show-tab href="#divFrmEsRes" data-toggle="tab">ESTADO DE RESULTADOS</a>
        </li>
        <li>
            <a show-tab href="#divFrmEsResVar" data-toggle="tab">ESTADO DE RESULTADOS ANUAL</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="divFrmEsRes" class="tab-pane fade in active">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Estado de Resultados</div>
                    <div class="panel-body" style="text-align: right">
                        <div class="row" style="text-align: left">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="chkAcum">Acumulado:</label>
                                    <input name="chkAcum" id="chkAcum" type="checkbox" class="form-control" ng-model="params.acumulado" ng-true-value="1" ng-false-value="0" ng-change="estadoresultados = []"/>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3" ng-hide="params.acumulado == 1">
                                <div class="form-group">
                                    <label for="txtDel">Del:</label>
                                    <input name="txtDel" id="txtDel" type="date" class="form-control" ng-model="params.del" placeholder="Del"
                                           ng-change="estadoresultados = []"/>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="txtAl">Al:</label>
                                    <input name="txtAl" id="txtAl" type="date" class="form-control" ng-model="params.al" placeholder="Al" ng-change="estadoresultados = []"/>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="selNivel">Al nivel:</label>
                                    <select name="selNivel" id="selNivel" class="form-control" ng-model="params.nivel">
                                        <option value="1">1</option>
                                        <option value="3">2</option>
                                        <option value="5">3</option>
                                        <option value="7">4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="getEstRes()">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="getEstResXLSX()">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <object data="{{content}}" type="application/pdf" style="width: 100%; height: 100em"></object>
                </div>
            </div>
        </div>
        <div id="divFrmEsResVar" class="tab-pane fade">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Estado de Resultados Anual</div>
                    <div class="panel-body" style="text-align: right">
                        <div class="row" style="text-align: left">
                            <div class="col-md-3 col-sm-3" >
                                <div class="form-group">
                                    <label for="txtDelA">Año:</label>
                                    <input name="txtDelA" id="txtDelA" type="number" class="form-control" ng-model="params.resAn"/>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="getEstResA()">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>