<div class="container" ng-controller="rptLibroMayorCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Diario Mayor General</div>
            <div class="panel-body" style="text-align: right">
                <div class="row" style="text-align: left">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="txtDel">Del:</label>
                            <input name="txtDel" id="txtDel" type="date" class="form-control input-sm" ng-model="params.del" placeholder="Del" ng-change="libromayor = []"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="txtAl">Al:</label>
                            <input name="txtAl" id="txtAl" type="date" class="form-control input-sm" ng-model="params.al" placeholder="Al" ng-change="libromayor = []"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="chkCierre">Ver partidas de cierre y apertura:</label>
                            <input name="chkCierre" id="chkCierre" type="checkbox" class="form-control input-sm" ng-model="params.vercierre" ng-true-value="1" ng-false-value="0"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="selFltr">Filtrar por:</label>
                            <select name="selFltr" id="selFltr" class="form-control input-sm" ng-model="params.filtro" ng-change="resetParams()">
                                <option value="1">Cuentas</option>
                                <option value="2">Rango de cuentas</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: left">
                    <div class="col-md-10" ng-show="+params.filtro == 1">
                        <div class="form-group">
                            <label for="txtCod">Cuentas:</label>
                            <!--<input name="txtCod" id="txtCod" type="text" class="form-control" ng-model="params.codigo" placeholder="Ej.: 100001 &oacute; 100502,100503,200402 &oacute; 400004-400010"/>-->
                            <ui-select multiple
                                       id="txtCod"
                                       ng-model="params.cuentasSel"
                                       title="Seleccione las cuentas..."
                                       theme="bootstrap"
                                       autofocus="false"
                                       append-to-body="true"
                                       sortable="true">
                                <ui-select-match placeholder="Buscar cuentas..." allow-clear="true">
                                    <span>{{$item.codigo}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.codigo as item in cuentas | filter:$select.search">
                                    <div ng-bind-html="item.nombrecta | highlight: $select.search"></div>
                                    <small>
                                        <strong>C&oacute;digo:</strong>&nbsp;<span ng-bind-html="item.codigo | highlight: $select.search" ></span>
                                    </small>
                                </ui-select-choices>
                                <ui-select-no-choice>
                                    No hay resultados...
                                </ui-select-no-choice>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-5" ng-show="+params.filtro == 2">
                        <div class="form-group">
                            <label for="selCtaDel">Del:</label>
                            <ui-select
                                    id="selCtaDel"
                                    ng-model="params.codigo"
                                    title="Seleccione una cuenta contable..."
                                    theme="bootstrap"
                                    autofocus="false"
                                    ng-required="true">
                                <ui-select-match placeholder="Buscar cuenta contable..." allow-clear="false">
                                    <span ng-bind="$select.selected.nombrecta"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.codigo as item in cuentas | filter:$select.search">
                                    <div ng-bind-html="item.nombrecta | highlight: $select.search"></div>
                                    <small>
                                        <strong>C&oacute;digo:</strong>&nbsp;<span ng-bind-html="item.codigo | highlight: $select.search" ></span>
                                    </small>
                                </ui-select-choices>
                                <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-5" ng-show="+params.filtro == 2">
                        <div class="form-group">
                            <label for="selCtaAl">Al:</label>
                            <ui-select
                                    id="selCtaAl"
                                    ng-model="params.codigoal"
                                    title="Seleccione una cuenta contable..."
                                    theme="bootstrap"
                                    autofocus="false"
                                    ng-required="true">
                                <ui-select-match placeholder="Buscar cuenta contable..." allow-clear="false">
                                    <span ng-bind="$select.selected.nombrecta"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.codigo as item in cuentas | filter:$select.search">
                                    <div ng-bind-html="item.nombrecta | highlight: $select.search"></div>
                                    <small>
                                        <strong>C&oacute;digo:</strong>&nbsp;<span ng-bind-html="item.codigo | highlight: $select.search" ></span>
                                    </small>
                                </ui-select-choices>
                                <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="chkConstProc">Formato integraciones:</label>
                            <input name="chkConstProc" id="chkConstProc" type="checkbox" class="form-control input-sm" ng-model="params.constproc" ng-true-value="1" ng-false-value="0"/>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: left">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="txtNoFolio">No. Folio:</label>
                            <input name="txtNoFolio" id="txtNoFolio" type="number" class="form-control input-sm" ng-model="params.nofolio" placeholder="Folio que toca..."/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="chkNoHead">Sin encabezado:</label>
                            <input name="chkNoHead" id="chkNoHead" type="checkbox" class="form-control input-sm" ng-model="params.noheader" ng-true-value="1" ng-false-value="0"/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="getLibroMayor()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary" ng-click="getLibroMayorXLSX()">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <object data="{{content}}" type="application/pdf" style="width: 100%; height: 100em"></object>
        </div>
    </div>
</div>