<div class="container" ng-controller="rptLstProyCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align: right">
                <div class="row" style="text-align: left">
                    <div class="col-md-3 nopadding">
                        <div class="form-group">
                            <label for="selEmpresa">Empresa:</label>
                            <input name="txtFiltroEmpre" id="txtFiltroEmpre" type="text" class="form-control input-sm" ng-model="search" placeholder="Empresa"/>
                        </div>
                    </div>
                    <div class="col-md-3 nopadding">
                        <div class="form-group">
                            <label for="selEmpresa">&nbsp;</label>
                            <select name="selEmpresa" id="selEmpresa" class="form-control input-sm" ng-model="objEmpresa"
                                    ng-options="obj.nomempresa for obj in lasEmpresas | filter:{nomempresa:search}" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 nopadding">
                        <div class="form-group">
                            <label for="selTipo">Tipo:</label>
                            <input name="txtFiltroTipo" id="txtFiltroTipo" type="text" class="form-control input-sm" ng-model="searchtipo" placeholder="Tipo"/>
                        </div>
                    </div>
                    <div class="col-md-3 nopadding">
                        <div class="form-group">
                            <label for="selTipo">&nbsp;</label>
                            <select name="selTipo" id="selTipo" class="form-control input-sm" ng-model="tipo"
                                    ng-options="obj.descripcion for obj in lsttipos | filter:{descripcion:searchtipo}" multiple>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: left">
                    <div class="col-md-3 nopadding">
                        <div class="form-group">
                            <label for="selProy">Proyecto:</label>
                            <input name="txtFiltroProy" id="txtFiltroProy" type="text" class="form-control input-sm" ng-model="searchproy" placeholder="Proyecto"/>
                        </div>
                    </div>
                    <div class="col-md-3 nopadding">
                        <div class="form-group">
                            <label for="selProy">&nbsp;</label>
                            <select name="selProy" id="selProy" class="form-control input-sm" ng-model="proyecto"
                                    ng-options="obj.nomproyecto for obj in proyectos | filter:{nomproyecto:searchproy}" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 nopadding">
                        <div class="form-group">
                            <label for="chkDeta">Detallado:</label>
                            <input name="chkDeta" id="chkDeta" type="checkbox" class="form-control input-sm" ng-model="params.detallado" ng-true-value="1" ng-false-value="0"/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="getRptProyectos()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="resetParams()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <object data="{{content}}" type="application/pdf" style="width: 100%; height: 50em"></object>
        </div>
    </div>
</div>