<div class="container" ng-controller="rptServiciosCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de servicios</div>
            <div class="panel-body" style="text-align: right">
                <div class="row" style="text-align: left">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="selEmpre">Empresa:</label>
                            <select name="selEmpre" id="selEmpre" class="form-control input-sm" ng-model="params.idempresa"
                                    ng-options="obj.id as obj.nomempresa for obj in empresas">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="selTipo">Tipo de servicio:</label>
                            <select name="selTipo" id="selTipo" class="form-control input-sm" ng-model="params.idtipo"
                                    ng-options="obj.id as obj.desctiposervventa for obj in tipos">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="chkVerBaja">Ver de baja:</label>
                            <input name="chkVerBaja" id="chkVerBaja" type="checkbox" class="form-control input-sm" ng-model="params.verbaja" ng-true-value="1" ng-false-value="0"/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="getRepServicios()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <object data="{{content}}" type="application/pdf" style="width: 100%; height: 50em"></object>
        </div>
    </div>
</div>