<div class="container" ng-controller="tipocompraCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">Tipo de Compra</div>

        <div class="panel-body">
    
            <form name="frmTipocompra" id="frmTipocompra" class="col-md-4" ng-submit="frmTipocompra.$valid && editaTipocompra(elTipocompra, 'c')" novalidate>
                
                        
                            <div class="form-group">
                            <label for="txtDescripcion">Descripci&oacute;n:</label>
                                 <input type="text" name="txtDescripcion" id="txtDescripcion" class="form-control" ng-model="elTipocompra.desctipocompra" placeholder="Describa la Compra" maxlength="50" required/>
                            </div> 
                                <!--____Boton___-->
                                 <center><div class="btn-group" role="group" aria-label="...">
                                    <button type="submit" class="btn btn-primary" ng-disabled="frmTipoactivo.$invalid">
                                            <span class="glyphicon glyphicon-floppy-save"></span>
                                    </button>
                                </div></center>
                            
                        <!--tbody-->
            </form>
                <!--____________________________Lista____________________________-->

        <div class="col-md-8" style="border-left: 1px solid #E6E6E6; height: auto">

                        <!--center><h3>Tipo de Compra</h3></center-->

                     
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <!--th><center>ID</th></center-->
                            <th>Descripci&oacute;n de la Compra</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in lstTipocompras">
                            <!--td>
                                <span>
                                    <center>{{e.id}}</center>
                                </span>
                            </td-->
                            <td>
                                <span editable-text="e.desctipocompra" e-name="desctipocompra" e-form="rowform" e-required
                                    e-class="form-control" e-type="text" e-maxlength="50">
                                    {{e.desctipocompra}}
                                </span>
                            </td>
                            <td style="white-space: nowrap">
                                <edit-row-form
                                        editing-row="e"
                                        update-func="updTipocompra(fila, qid)"
                                        delete-func="delTipocompra(qid)">
                                </edit-row-form>
                            </td>
                            </tr>
                    </tbody>
                </table>    
        </div>

        </div>
        <!--
        <div class="panel-footer">

        </div>
        -->
    </div>
</div>