<div class="container" ng-controller="ventaCtrl">
    <ul class="nav nav-tabs">
        <li class="active">
            <a show-tab href="#divFrmVenta" data-toggle="tab">FACTURAS DE VENTA</a>
        </li>
        <li ng-show="venta.id > 0">
            <a show-tab href="#divFrmDetCont" data-toggle="tab">DETALLE CONTABLE</a>
        </li>
        <li ng-show="false">
            <a show-tab href="#divPrintVer" data-toggle="tab">VERSI&Oacute;N IMPRIMIBLE</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="divFrmVenta" class="tab-pane fade in active">
            <div class="panel panel-primary">
                <div class="panel-heading">Facturas de venta&nbsp;<span class="badge">{{ventastr}}</span></div>
                <div class="panel-body">
                    <form name="frmVenta" id="frmVenta" ng-submit="frmVenta.$valid && addVenta(venta)" novalidate>
                        <div class="row">
                            <div class="col-md-3 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.selCli.$invalid && !frmVenta.selCli.$pristine}">
                                    <label for="selCli">Clientes:</label>
                                    <input name="txtFiltroCli" id="txtFiltroCli" type="text" class="form-control input-sm" ng-model="search"
                                           placeholder="Nombre"/>
                                </div>
                            </div>
                            <div class="col-md-5 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.selCli.$invalid && !frmVenta.selCli.$pristine}">
                                    <label for="selCli">&nbsp;</label>
                                    <select name="selCli" id="selCli" class="form-control input-sm" ng-model="venta.objCliente"
                                            ng-options="obj.nombre for obj in clientes | filter:{nombre:search}"
                                            ng-change="getContratosByCliente(venta.objCliente[0].id)" multiple required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.selCont.$invalid && !frmVenta.selCont.$pristine}">
                                    <label for="selCont">Contrato:</label>
                                    <select name="selCont" id="selCont" class="form-control input-sm" ng-model="venta.objContrato"
                                            ng-options="obj.nocontrato for obj in contratos" multiple>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.selTipoFact.$invalid && !frmVenta.selTipoFact.$pristine}">
                                    <label for="selTipoFact">Tipo de factura:</label>
                                    <select name="selTipoFact" id="selTipoFact" class="form-control input-sm" ng-model="venta.objTipoFactura"
                                            ng-change="calcular()" ng-options="obj.desctipofact for obj in lsttiposfact | filter:{paraventa:1}" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtSerie.$invalid && !frmVenta.txtSerie.$pristine}">
                                    <label for="txtSerie">Serie:</label>
                                    <input name="txtSerie" id="txtSerie" type="text" class="form-control input-sm" ng-model="venta.serie"
                                           placeholder="Serie" maxlength="30" required/>
                                </div>
                            </div>
                            <div class="col-md-4 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtDocu.$invalid && !frmVenta.txtDocu.$pristine}">
                                    <label for="txtDocu">Documento:</label>
                                    <input name="txtDocu" id="txtDocu" type="text" class="form-control input-sm" ng-model="venta.numero" maxlength="200" placeholder="Documento" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtFechaIng.$invalid && !frmVenta.txtFechaIng.$pristine}">
                                    <label for="txtFechaIng">Fecha de ingreso:</label>
                                    <input name="txtFechaIng" id="txtFechaIng" type="date" class="form-control input-sm"
                                           ng-model="venta.fechaingreso" required />
                                </div>
                            </div>
                            <div class="col-md-2 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtFechaFact.$invalid && !frmVenta.txtFechaFact.$pristine}">
                                    <label for="txtFechaFact">Fecha de factura:</label>
                                    <input name="txtFechaFact" id="txtFechaFact" type="date" class="form-control input-sm" ng-model="venta.fecha" required />
                                </div>
                            </div>
                            <!--
                            <div class="col-md-2 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtMesIva.$invalid && !frmVenta.txtMesIva.$pristine}">
                                    <label for="txtMesIva">Mes I.V.A.:</label>
                                    <input name="txtMesIva" id="txtMesIva" type="number" class="form-control input-sm" ng-model="venta.mesiva"
                                           min="1" max="12" required />
                                </div>
                            </div>
                            -->
                            <div class="col-md-3 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.selTipoCompra.$invalid && !frmVenta.selTipoCompra.$pristine}">
                                    <label for="selTipoCompra">Tipo de venta:</label>
                                    <select name="selTipoCompra" id="selTipoCompra" class="form-control input-sm" ng-model="venta.objTipoVenta"
                                            ng-options="obj.desctipocompra for obj in losTiposCompra | filter:{paraventa:1}" ng-change="calcular()" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.selMoneda.$invalid && !frmVenta.selMoneda.$pristine}">
                                    <label for="selMoneda">Moneda:</label>
                                    <select name="selMoneda" id="selMoneda" class="form-control input-sm" ng-model="venta.objMoneda"
                                            ng-options="obj.nommoneda for obj in monedas track by obj.id"
                                            ng-change="setTipoCambio(venta.objMoneda)" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtCambio.$invalid && !frmVenta.txtCambio.$pristine}">
                                    <label for="txtTCambioSug">Tipo de cambio:</label>
                                    <input name="txtTCambioSug" id="txtTCambioSug" class="form-control input-sm" ng-model="venta.tipocambio"
                                           type="text" min="1" fcsa-number="{ min:1, maxDecimals:dectc }" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtConceptoMayor.$invalid && !frmVenta.txtConceptoMayor.$pristine}">
                                    <label for="txtConceptoLibroMayor">Concepto para el libro mayor:</label>
                                    <textarea name="txtConceptoLibroMayor" id="txtConceptoLibroMayor" class="form-control input-sm"
                                              ng-model="venta.conceptomayor" rows="2" style="width:100%" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtTotal.$invalid && !frmVenta.txtTotal.$pristine}">
                                    <label for="txtTotal">Total:</label>
                                    <input name="txtTotal" id="txtTotal" type="text" class="form-control input-sm" ng-model="venta.total"
                                           placeholder="Total de factura" fcsa-number="{ min:0, maxDecimals: 2 }" ng-change="calcular()" required/>
                                </div>
                            </div>
                            <div class="col-md-2 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtSubtot.$invalid && !frmVenta.txtSubtot.$pristine}">
                                    <label for="txtSubtot">Subtotal:</label>
                                    <input name="txtSubtot" id="txtSubtot" type="text" class="form-control input-sm" ng-model="venta.subtotal"
                                           placeholder="Subtotal" fcsa-number="{ min:0, maxDecimals: 2 }" required ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="col-md-2 nopadding">
                                <div class="form-group" ng-class="{'has-error':frmVenta.txtIVA.$invalid && !frmVenta.txtIVA.$pristine}">
                                    <label for="txtIVA">I.V.A.:</label>
                                    <input name="txtIVA" id="txtIVA" type="text" class="form-control input-sm" ng-model="venta.iva"
                                           placeholder="I.V.A." fcsa-number="{ min:0, maxDecimals: 2 }" required ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="venta.anulada === 1">
                            <div class="col-md-12">
                                <div class="well well-sm">
                                    <p>Factura anulada el {{venta.fechaanula | date:'dd/MM/yyyy'}} por: {{venta.razon}}</p>
                                </div>
                            </div>
                        </div>

                    <div ng-show="formularioret">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3" ng-show="venta.noformisr != null && venta.noformisr != undefined ">
                                <div class="well well-sm" style="text-align: center">
                                    <h4>Formulario de retenci&oacute;n de I.S.R.</h4>
                                    <h5>No. formulario: {{venta.noformisr}}&nbsp;--&nbsp;No. acceso: {{venta.noaccisr}}</h5>
                                    <h5>Fecha de pago: {{venta.fecpagoformisr | date:'dd/MM/yyyy'}}&nbsp;--&nbsp;Mes: {{venta.mesisr}}&nbsp;--&nbsp;A&ntilde;o: {{venta.anioisr}}</h5>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-3" ng-hide="venta.noformisr != null && venta.noformisr != undefined">
                                <div class="well well-sm" style="text-align: center">
                                    <span style="font-weight: bold">
                                        FORMULARIO DE RETENCI&Oacute;N DE I.S.R. NO REGISTRADO.&nbsp;
                                        <button type="button" class="btn" ng-click="modalISR()">Registrar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Inicio mostrar datos de formulario de retencion iva-->
                        <div class="row" ng-show="venta.retisr != 0 ">
                            <div class="col-md-6 col-md-offset-3" ng-show="venta.noformiva != null && venta.noformisr != undefined ">
                                <div class="well well-sm" style="text-align: center">
                                    <h4>Formulario de retenci&oacute;n de I.V.A.</h4>
                                    <h5>No. formulario: {{venta.noformiva}}&nbsp;--&nbsp;No. acceso: {{venta.noacciva}}</h5>
                                    <h5>Fecha de pago: {{venta.fechapagoformiva | date:'dd/MM/yyyy'}}&nbsp;--&nbsp;Mes: {{venta.mespagoiva}}&nbsp;--&nbsp;A&ntilde;o: {{venta.aniopagoiva}}</h5>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-3" ng-hide="venta.noformiva != null && venta.noformisr != undefined ">
                                <div class="well well-sm" style="text-align: center">
                                    <span style="font-weight: bold">
                                        FORMULARIO DE RETENCI&Oacute;N DE I.V.A. NO REGISTRADO.&nbsp;
                                        <button type="button" class="btn" ng-click="modalIVA()">Registrar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Fin mostrar datos de formulario de retencion iva-->
                    </div>

                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" class="btn btn-primary" ng-disabled="frmVenta.$invalid" ng-hide="venta.id > 0">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-disabled="frmVenta.$invalid || venta.anulada === 1" ng-show="venta.id > 0" ng-click="updVenta(venta)">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                            <button type="button" class="btn btn-warning" ng-disabled="venta.anulada === 1" ng-show="venta.id > 0" ng-click="anular(venta)">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-show="venta.id > 0" ng-click="printVersion()">
                                <span class="glyphicon glyphicon-print"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-disabled="frmVenta.$invalid || venta.anulada === 1" ng-show="venta.id > 0" ng-click="delVenta(venta)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-disabled="frmVenta.$invalid" ng-show="venta.id > 0" ng-click="resetVenta()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </form>
                    <hr/>
                    <table class="table table-responsive table-hover table-condensed">
                        <caption>
                            <form class="form-inline">
                                <label for="srchTxtDel">Del:</label>
                                <input name="srchTxtDel" id="srchTxtDel" type="date" class="form-control input-sm" ng-model="params.fdel"/>
                                <label for="srchTxtAl">al:</label>
                                <div class="input-group">
                                    <input name="srchTxtAl" id="srchTxtAl" type="date" class="form-control input-sm" ng-model="params.fal"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="getLstVentas(idempresa)"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                                </div>
                                <input name="srchTxt" id="srchTxt" type="text" class="form-control input-sm" style="width: 50em" ng-model="lookFor.$" placeholder="Cliente, contrato, documento, total..."/>
                            </form>
                        </caption>
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Contrato</th>
                            <th>Documento</th>
                            <th style="text-align: right">Mon(TC)</th>
                            <th style="text-align: right">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="v in ventas | filter:lookFor" ng-click="getVenta(v.id)">
                            <td>{{v.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{v.cliente}}</td>
                            <td>{{v.nocontrato}}</td>
                            <td>{{v.serie}}&nbsp;-&nbsp;{{v.numero}}</td>
                            <td style="text-align: right">{{v.moneda}}({{v.tipocambio | number:dectc}})</td>
                            <td style="text-align: right">{{v.total | number:2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="divFrmDetCont" class="tab-pane fade">
            <div class="panel panel-success">
                <div class="panel-heading">Detalle contable&nbsp;<span class="badge">{{ventastr}}</span></div>
                <div class="panel-body">
                    <form name="frmDetCont" id="frmDetCont" ng-submit="frmDetCont.$valid && addDetCont(elDetCont)" novalidate>
                        <div class="row">
                            <!--
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="selCta">Cuenta:</label>
                                    <input name="txtFiltroCta" id="txtFiltroCta" type="text" class="form-control" ng-model="searchcta"
                                           placeholder="Cuenta contable"/>
                                </div>
                            </div>
                            -->
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':frmDetCont.selCta.$invalid && !frmDetCont.selCta.$pristine}">
                                    <label for="selCta">Cuenta:</label>
                                    <!--
                                    <select name="selCta" id="selCta" class="form-control" ng-model="elDetCont.objCuenta"
                                            ng-options="obj.codcta for obj in cuentas | filter:{codcta:searchcta}" multiple required>
                                    </select>
                                    -->
                                    <ui-select id="selCta"
                                               ng-model="elDetCont.objCuenta"
                                               title="Seleccione una cuenta contable..."
                                               theme="bootstrap"
                                               autofocus="false"
                                               reset-search-input="false">
                                        <ui-select-match placeholder="Buscar cuenta contable..." allow-clear="false">
                                            <span ng-bind="$select.selected.nombrecta"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in cuentas | filter:$select.search">
                                            <div ng-bind-html="item.nombrecta | highlight: $select.search"></div>
                                            <small>
                                                <strong>C&oacute;digo:</strong>&nbsp;<span ng-bind-html="item.codigo | highlight: $select.search" ></span>
                                            </small>
                                        </ui-select-choices>
                                        <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{'has-error':frmDetCont.txtDebe.$invalid && !frmDetCont.txtDebe.$pristine}">
                                    <label for="txtDebe">Debe:</label>
                                    <input name="txtDebe" id="txtDebe" type="text" class="form-control" ng-model="elDetCont.debe"
                                           placeholder="Debe" fcsa-number="{ min:0, maxDecimals: 2 }" ng-change="zeroHaber(elDetCont.debe)" required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{'has-error':frmDetCont.txtHaber.$invalid && !frmDetCont.txtHaber.$pristine}">
                                    <label for="txtHaber">Haber:</label>
                                    <input name="txtHaber" id="txtHaber" type="text" class="form-control" ng-model="elDetCont.haber"
                                           placeholder="Haber" fcsa-number="{ min:0, maxDecimals: 2 }" ng-change="zeroDebe(elDetCont.haber)" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error':frmDetCont.txtConceptoMayor.$invalid && !frmDetCont.txtConceptoMayor.$pristine}">
                                    <label for="txtConceptoMayor">Concepto mayor:</label>
                                    <textarea name="txtConceptoMayor" id="txtConceptoMayor" class="form-control"
                                              ng-model="elDetCont.conceptomayor" placeholder="Concepto para el libro mayor"
                                              style="width:100%" rows="3" required>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" class="btn btn-info" ng-disabled="frmDetCont.$invalid">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                        </div>
                    </form>
                    <hr/>
                    <table datatable="ng" dt-options="dtOptions" class="table table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>Cuenta</th>
                            <th style="text-align: right">Debe</th>
                            <th style="text-align: right">Haber</th>
                            <th>Concepto mayor</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dc in losDetCont">
                            <td>{{dc.desccuentacont}}</td>
                            <td style="text-align: right">{{dc.debe | number:2}}</td>
                            <td style="text-align: right">{{dc.haber | number:2}}</td>
                            <td>{{dc.conceptomayor}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-info btn-sm" ng-click="updDetCont(dc)" ng-hide="dc.id == 0" data-toggle="tooltip" data-placement="auto" title="Modificar este detalle contable...">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="delDetCont(dc)" ng-hide="dc.id == 0">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="divPrintVer" class="tab-pane fade">
            <div id="toPrint">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{venta.cliente}}</h3>
                        <h4>{{venta.objTipoFactura.siglas}}&nbsp;{{venta.serie}}&nbsp;-&nbsp;{{venta.numero}},&nbsp;{{venta.moneda}}&nbsp;{{venta.total | number:2}}</h4>
                        <h4>{{venta.conceptomayor}}</h4>
                    </div>
                </div>
                <div class="row" ng-show="venta.anulada === 1">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <p>Factura anulada el {{venta.fechaanula | date:'dd/MM/yyyy'}} por: {{venta.razon}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th>Cuenta</th>
                                <th style="text-align: right">Debe</th>
                                <th style="text-align: right">Haber</th>
                                <th>Concepto mayor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dc in losDetCont" ng-class="{'linea-de-totales' : dc.desccuentacont.toUpperCase().indexOf('TOTAL DE PARTIDA') > 0}">
                                <td>{{dc.desccuentacont}}</td>
                                <td style="text-align: right">{{dc.debe > 0 ? (dc.debe | number:2) : ''}}</td>
                                <td style="text-align: right">{{dc.haber > 0 ? (dc.haber | number:2) : ''}}</td>
                                <td>{{dc.conceptomayor}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!--Template de la modal //Este usa el controlador ModalInstanceCtrl-->
    <script type="text/ng-template" id="modalISR.html">
        <div class="modal-header">
            <h3 class="modal-title">Formulario de retenci&oacute;n I.S.R.</h3>
            <h4 class="modal-title">{{venta.cliente}}</h4>
            <h4 class="modal-title">Factura {{venta.serie}}&nbsp;{{venta.documento}}&nbsp;por&nbsp;{{venta.moneda}}&nbsp;{{venta.total | number:2}}</h4>
        </div>
        
        <div class="modal-body">
            <div class="form-group">
                  <label for="txtNoFormISR">No. de formulario:</label>
                <input name="txtNoFormISR" id="txtNoFormISR" type="text" class="form-control"  maxlength="30" ng-model="venta.noformisr"/>
            </div>
            <div class="form-group">
                <label for="txtNoAccISR">No. de acceso:</label>
                <input name="txtNoAccISR" id="txtNoAccISR" type="text" class="form-control"  maxlength="30" ng-model="venta.noaccisr" />
            </div>
            <div class="form-group">
                <label for="txtFecPagoISR">Fecha de pago:</label>
                <input name="txtFecPagoISR" id="txtFecPagoISR" type="date" class="form-control"  ng-change="setMesAnio()" ng-model="venta.fecpagoformisr"/>

            </div>
            <!-- inicio modificacion de error formilariosr 17/11/2017-->
            <div class="form-group">
                <label for="txtMesISR">Mes:</label>
                <input name="txtMesISR" id="txtMesISR" type="text" class="form-control" ng-model="venta.mesisr"  min="0" max="12"  />
            </div>
            <div class="form-group">
                <label for="txtAnioISR">A&ntilde;o:</label>
                <input name="txtAnioISR" id="txtAnioISR" type="text" class="form-control" ng-model="venta.anioisr"  min="2000" max="3000" />
            </div>
            <!--fin modificacion 17/11/2017-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Aceptar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
        </div>
    </script>
    <!--Fin de Template de la modal-->
<!--Template de la modal //Este usa el controlador ModalAnulaVentaCtrl-->
<script type="text/ng-template" id="modalAnulacion.html">
    <div class="modal-header">
        <h3 class="modal-title">Razón de anulaci&oacute;n</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="selRazon">Por favor, seleccione la razón de anulaci&oacute;n:</label>
            <select name="selRazon" id="selRazon" class="form-control" ng-model="razon"
                    ng-options="obj.razon for obj in razones" required>
            </select>
        </div>
        <div class="form-group">
            <label for="txtFecAnul">Fecha de anulaci&oacute;n:</label>
            <input name="txtFecAnul" id="txtFecAnul" type="date" class="form-control" ng-model="anuladata.fechaanula" required/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="razon.id == null || razon.id == undefined">Aceptar</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>
<!--Fin de Template de la modal-->
 <!--Template de la modal de retencion de iva-->
<script type="text/ng-template" id="modalIVA.html">
        <div class="modal-header">
            <h3 class="modal-title">Formulario de retenci&oacute;n I.V.A.</h3>
            <h4 class="modal-title">{{venta.cliente}}</h4>
            <h4 class="modal-title">Factura {{venta.serie}}&nbsp;{{venta.documento}}&nbsp;por&nbsp;{{venta.moneda}}&nbsp;{{venta.total | number:2}}</h4>
        </div>
        
        <div class="modal-body">
            <div class="form-group">
                  <label for="txtNoFormISR">No. de formulario:</label>
                <input name="txtNoFormISR" id="txtNoFormIVA" type="text" class="form-control"  maxlength="30" ng-model="venta.noformiva"/>
            </div>
            <div class="form-group">
                <label for="txtNoAccISR">No. de acceso:</label>
                <input name="txtNoAccISR" id="txtNoAccIVA" type="text" class="form-control"  maxlength="30" ng-model="venta.noacciva" />
            </div>
            <div class="form-group">
                <label for="txtFecPagoISR">Fecha de pago:</label>
                <input name="txtFecPagoISR" id="txtFecPagoIVA" type="date" class="form-control"  ng-change="setMesAnio()" ng-model="venta.fecpagoformiva"/>

            </div>
            <div class="form-group">
                <label for="txtMesISR">Mes:</label>
                <input name="txtMesISR" id="txtMesIVA" type="text" class="form-control" ng-model="venta.mespagoiva"  min="0" max="12"  />
            </div>
            <div class="form-group">
                <label for="txtAnioISR">A&ntilde;o:</label>
                <input name="txtAnioISR" id="txtAnioIVA" type="text" class="form-control" ng-model="venta.aniopagoiva"  min="2000" max="3000" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Aceptar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
        </div>
    </script>
<script type="text/ng-template" id="modalUpdDetCont.html">
    <div class="modal-header">
        <h3 class="modal-title">Modificar detalle contable</h3>
    </div>
    <div class="modal-body">
        <form name="frmModalDetCont" id="frmModalDetCont" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error':frmModalDetCont.selCta.$invalid && !frmModalDetCont.selCta.$pristine}">
                        <label>Cuenta contable:</label>
                        <ui-select ng-model="detcont.idcuenta"
                                   title="Seleccione una cuenta contable..."
                                   theme="bootstrap"
                                   autofocus="false"
                                   ng-required="true">
                            <ui-select-match placeholder="Buscar cuenta contable..." allow-clear="false">
                                <span ng-bind="$select.selected.nombrecta"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in cuentas | filter:$select.search">
                                <div ng-bind-html="item.nombrecta | highlight: $select.search"></div>
                                <small>
                                    <strong>C&oacute;digo:</strong>&nbsp;<span ng-bind-html="item.codigo | highlight: $select.search" ></span>
                                </small>
                            </ui-select-choices>
                            <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error':frmModalDetCont.txtDebe.$invalid && !frmModalDetCont.txtDebe.$pristine}">
                        <label for="txtModalDebe">Debe:</label>
                        <input name="txtModalDebe" id="txtModalDebe" type="text" class="form-control" ng-model="detcont.debe"
                               placeholder="Debe" fcsa-number="{ min:0, maxDecimals: 2 }" ng-change="zeroHaber(detcont.debe)" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error':frmModalDetCont.txtHaber.$invalid && !frmModalDetCont.txtHaber.$pristine}">
                        <label for="txtModalHaber">Haber:</label>
                        <input name="txtModalHaber" id="txtModalHaber" type="text" class="form-control" ng-model="detcont.haber"
                               placeholder="Haber" fcsa-number="{ min:0, maxDecimals: 2 }" ng-change="zeroDebe(detcont.haber)" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error':frmModalDetCont.txtConceptoMayor.$invalid && !frmModalDetCont.txtConceptoMayor.$pristine}">
                        <label for="txtModalConceptoMayor">Concepto mayor:</label>
                            <textarea name="txtModalConceptoMayor" id="txtModalConceptoMayor" class="form-control"
                                      ng-model="detcont.conceptomayor" placeholder="Concepto para el libro mayor" style="width:100%" rows="3" required>
                            </textarea>
                    </div>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-info" ng-disabled="frmModalDetCont.$invalid" ng-click="actualizar(detcont)">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="ok()">Aceptar</button>-->
        <button class="btn btn-primary" type="button" ng-click="cancel()"><i class="fa fa-ban" aria-hidden="true"></i></button>
    </div>
</script>
