<div>
    <form editable-form name="rowform"
          onbeforesave="updateFunc({fila : $data, qid : editingRow.id})"
          ng-show="rowform.$visible"
          class="form-buttons form-inline">

        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>
        </button>

        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </form>
    <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary" ng-click="rowform.$show()">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-danger" ng-click="deleteFunc({qid : editingRow.id})">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
</div>