<div class="container-fluid" ng-controller="MntEmpleadoController">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/pln/mnt/empleado">Empleado</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <form class="navbar-form navbar-left" ng-submit="buscar(bus)">
	        <div class="form-group">
	          <input type="text" ng-model="bus.termino" class="form-control" placeholder="Buscar">
	        </div>
	        <button type="submit" class="btn btn-default">
	        	<i class="glyphicon glyphicon-search"></i>
	        </button>
	      </form>
	      <button type="button" class="btn btn-xs btn-default navbar-btn" ng-click="mostrarForm()">
	      	<i class="glyphicon glyphicon-plus"></i> Nuevo
	      </button>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="panel panel-primary" ng-show="formulario">
		<div class="panel-heading">
			<h3 class="panel-title">
				Formulario para empleado
				<button class="btn btn-xs btn-danger pull-right" ng-click="formulario = false">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
			</h3>
		</div>
		<div class="panel-body">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active">
		    	<a show-tab href="#home" aria-controls="home" role="tab" data-toggle="tab">Datos personales</a>
		    </li>
		    <li role="presentation">
		    	<a show-tab href="#archivos" aria-controls="archivos" role="tab" data-toggle="tab">Archivos</a>
		    </li>
		    <li role="presentation">
		    	<a show-tab href="#bitacora" aria-controls="bitacora" role="tab" data-toggle="tab">Movimiento de Personal</a>
		    </li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
		    	<br>
		    	<form class="form-horizontal" novalidate role="form" ng-submit="guardar(emp)">
					<fieldset>
						<div class="form-group form-group-sm">
							<label for="inputNombre" class="col-sm-2 control-label">Nombre:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.nombre" class="form-control"  id="inputNombre" >
							</div>

							<label for="inputApellidos" class="col-sm-2 control-label">Apellidos:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.apellidos" class="form-control" id="inputApellidos" >
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label for="inputDireccion" class="col-sm-2 control-label">Direccìón:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.direccion" class="form-control" id="inputDireccion">
							</div>

							<label for="inputTelefono" class="col-sm-2 control-label">Teléfeno:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.telefono" class="form-control" id="inputTelefono">
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label for="inputDPI" class="col-sm-2 control-label">DPI:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.dpi" class="form-control" id="inputDPI" >
							</div>
							<label for="inputExtentidado" class="col-sm-2 control-label">Extendido en:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.extendido" class="form-control" id="inputExtentidado" >
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label for="inputNIT" class="col-sm-2 control-label">NIT:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.nit" class="form-control" id="inputNIT">
							</div>
							<label for="inputCorreo" class="col-sm-2 control-label">Correo:</label>
							<div class="col-sm-4">
								<input type="email" ng-model="emp.correo" class="form-control" id="inputCorreo">
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label for="inputSexo" class="col-sm-2 control-label">Sexo:</label>
							<div class="col-sm-4">
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.sexo" id="inputSexo1" value="1" > Masculino
								</label>
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.sexo" id="inputSexo2" value="2" > Femenino
								</label>
							</div>

							<label for="inputEstadoCivil" class="col-sm-2 control-label">Estado Civil:</label>
							<div class="col-sm-4">
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.estadocivil" id="inputEstadoCivil1" value="1" > Soltero
								</label>
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.estadocivil" id="inputEstadoCivil2" value="2" > Casado
								</label>
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label for="inputFechaNacimiento" class="col-sm-2 control-label">Fecha de Nacimiento:</label>
							<div class="col-sm-4">
								<input type="date" ng-model="emp.fchnac" class="form-control" id="inputFechaNacimiento" >
							</div>
							<label for="inputNacionalidad" class="col-sm-2 control-label">Nacionalidad:</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputNacionalidad" >
							</div>
						</div>
					</fieldset>

					<fieldset>
						
						<div class="form-group form-group-sm">
							<label for="inputIGSS" class="col-sm-2 control-label">Afiliación IGSS:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.igss" class="form-control" id="inputIGSS" >
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="inputIngreso" class="col-sm-2 control-label">Fecha de Ingreso:</label>
							<div class="col-sm-4">
								<input type="date" ng-model="emp.fching" class="form-control" id="inputIngreso" >
							</div>
							<label for="inputReIngreso" class="col-sm-2 control-label">Reingreso:</label>
							<div class="col-sm-4">
								<input type="date" ng-model="emp.fchrei" class="form-control" id="inputReIngreso">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="inputBaja" class="col-sm-2 control-label">Fecha de Baja:</label>
							<div class="col-sm-4">
								<input type="date" ng-model="emp.fchbaj" class="form-control" id="inputBaja">
							</div>
							<label for="selectPuesto" class="col-sm-2 control-label">Puesto:</label>
							<div class="col-sm-4">
									<select class="form-control" ng-model="emp.idplnpuesto" id="selectPuesto" ng-options="item.id as item.descripcion for item in puestos">
										</select>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<div class="form-group form-group-sm">
							<label for="inputCuentaPersonal" class="col-sm-2 control-label">Cuenta Personal:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.cuentapersonal" class="form-control" id="inputCuentaPersonal">
							</div>
							<label for="inputDescuentoISR" class="col-sm-2 control-label">Descuento ISR:</label>
							<div class="col-sm-4">
								<input type="number" step="0.01" ng-model="emp.descuentoisr" class="form-control" id="inputDescuentoISR">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="selectEmpresaActual" class="col-sm-2 control-label">Empresa Actual:</label>
							<div class="col-sm-4">
								<select class="form-control" ng-model="emp.idempresaactual" id="selectEmpresaActual" ng-options="item.id as item.nombre for item in empresasPlanilla">
								</select>
							</div>
							<label for="inputBonficacionLey" class="col-sm-2 control-label">Bonificación Ley:</label>
							<div class="col-sm-4">
								<input type="number" step="0.01" ng-model="emp.bonificacionley" class="form-control" id="inputBonficacionLey">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="inputSueldoMensual" class="col-sm-2 control-label">Sueldo Mensual:</label>
							<div class="col-sm-4">
								<input type="number" step="0.01" ng-model="emp.sueldo" class="form-control" id="inputSueldoMensual">
							</div>
							<label for="inputPorcentajeIGSS" class="col-sm-2 control-label">Porcentaje IGSS:</label>
							<div class="col-sm-4">
								<input type="number" step="0.01" ng-model="emp.porcentajeigss" class="form-control" id="inputPorcentajeIGSS">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="inputFormaPago" class="col-sm-2 control-label">Forma de Pago:</label>
							<div class="col-sm-4">
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.formapago" id="inputFormaPago1" value="1" > Quincenal
								</label>
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.formapago" id="inputFormaPago2" value="2" > Mensual
								</label>
							</div>
							<label for="inputMedioPago" class="col-sm-2 control-label">Medio de Pago:</label>
							<div class="col-sm-4">
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.mediopago" id="inputMedioPago1" value="1" > Cheque
								</label>
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.mediopago" id="inputMedioPago2" value="2" > Efectivo
								</label>
								<label class="radio-inline">
								  <input type="radio" ng-model="emp.mediopago" id="inputMedioPago3" value="3" > N/Débito
								</label>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="inputEmpresaDebito" class="col-sm-2 control-label">Empresa Debito:</label>
							<div class="col-sm-4">
								<select class="form-control" ng-model="emp.idempresadebito" id="inputEmpresaDebito" ng-options="item.id as item.nomempresa for item in empresas">
									</select>
							</div>
							<label for="inputCuentaBanco" class="col-sm-2 control-label">Cuenta Banco:</label>
							<div class="col-sm-4">
								<input type="text" ng-model="emp.cuentabanco" class="form-control" id="inputCuentaBanco">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="selectProyectoAfecta" class="col-sm-2 control-label">Proyecto que Afecta:</label>
							<div class="col-sm-4">
								<select class="form-control" ng-model="emp.idproyecto" id="selectProyectoAfecta" ng-options="item.id as item.nomproyecto for item in proyectos">
									</select>
							</div>
							<div class="col-sm-offset-2 col-sm-4">
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-model="emp.activo" ng-true-value="1" ng-false-value="0"> Activo
										</label>
									</div>
							</div>
						</div>
					</fieldset>

					<div class="well well-sm">
						<h4 class="text-center">Datos para movimiento/bitácora.</h4>
						<div class="form-group form-group-sm">
							<label for="inputMovFecha" class="col-sm-2 control-label">Fecha:</label>
							<div class="col-sm-4">
								<input type="date" class="form-control" ng-model="emp.movfecha" id="inputMovFecha">
							</div>
							<label for="inputMovDescripcion" class="col-sm-2 control-label">Descripción:</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" ng-model="emp.movdescripcion" id="inputMovDescripcion" maxlength="150">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="inputMovGasolina" class="col-sm-2 control-label">Gasolina:</label>
							<div class="col-sm-4">
								<input type="number" step="0.01" class="form-control" ng-model="emp.movgasolina" id="inputMovGasolina">
							</div>
							<label for="inputMovDepvehiculo" class="col-sm-2 control-label">Depreciación Vehículo:</label>
							<div class="col-sm-4">
								<input type="number" step="0.01" class="form-control" ng-model="emp.movdepvehiculo" id="inputMovDepvehiculo">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="inputMovOtros" class="col-sm-2 control-label">Otros:</label>
							<div class="col-sm-4">
								<input type="number" step="0.01" class="form-control" ng-model="emp.movotros" id="inputMovOtros">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="inputMovObservaciones" class="col-sm-2 control-label">Observaciones:</label>
							<div class="col-sm-10">
								<textarea ng-model="emp.movobservaciones" class="form-control" id="inputMovObservaciones" rows="3"></textarea>
							</div>
						</div>
					</div>
				
					<div class="form-group form-group-sm">
						<div class="col-sm-10 col-sm-offset-2 text-right">
							<a href="/sayet/pln/php/controllers/empleado.php/ficha/{{emp.id}}" target="_blank" class="btn btn-default btn-sm" ng-show="hay">
								<i class="glyphicon glyphicon-print"></i>
							</a>
							<button type="submit" class="btn btn-primary btn-sm">
								<i class="glyphicon glyphicon-floppy-disk"></i> Guardar
							</button>
						</div>
					</div>
				</form>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="archivos">
		    	<br>
		    	<form class="form-horizontal" novalidate role="form" ng-submit="agregarArchivo(arc)" ng-show="hay">
					<div class="form-group form-group-sm">
						<label for="inputArchivo" class="col-sm-2 control-label">Archivo:</label>
						<div class="col-sm-4">
							<input type="file" file-model="arc.archivo" class="form-control" id="inputArchivo" required>
						</div>
						<label for="selectTipo" class="col-sm-2 control-label">Tipo:</label>
						<div class="col-sm-4">
							<select class="form-control" ng-model="arc.idplnarchivotipo" id="selectTipo" required="required">
								<option ng-repeat="option in archivotipo" value="{{option.id}}">{{option.descripcion}}</option>
							</select>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label for="inputVence" class="col-sm-2 control-label">Vence:</label>
						<div class="col-sm-4">
							<input type="date" ng-model="arc.fchvence" class="form-control" id="inputVence">
						</div>
						<div class="col-sm-6 text-right">
							<button type="submit" class="btn btn-primary btn-sm" data-loading-text="Subiendo..." autocomplete="off" id="btnAgregarArchivo">
								<i class="glyphicon glyphicon-upload"></i> Agregar
							</button>
						</div>
					</div>
		    	</form>
		    	<hr>
		    	<div class="row" ng-cloak>
				  <div class="col-xs-6 col-md-3" ng-repeat="i in archivos">
						<div class="thumbnail">
							<img ng-src="{{ i.ruta }}">
							<div class="caption">
								<p>{{ i.nombre }}</p>
								<p>
									<a ng-href="{{ i.ruta }}" class="btn btn-primary" role="button" target="_blank">
										<i class="glyphicon glyphicon-download-alt"></i>
									</a>
								</p>
							</div>
						</div>
				  </div>
				  ...
				</div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="bitacora">
		    	<table class="table table-condensed table-hover">
		    		<thead>
		    			<tr>
		    				<th>Registro</th>
		    				<th>Descripción</th>
		    				<th>Observaciones</th>
		    				<th>Movimiento</th>
		    				<th>Usuario</th>
		    				<th></th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="b in bitacora">
							<td>{{ b.fecha | date:'dd/MM/yyyy HH:mm:ss' }}</td>
							<td>{{ b.movdescripcion }}</td>
							<td>{{ b.movobservaciones }}</td>
							<td>{{ b.movfecha | date:'dd/MM/yyyy' }}</td>
							<td>{{ b.nombre }}</td>
							<td>
								<a href="/sayet/pln/php/controllers/empleado.php/printbit/{{b.idplnempleado}}/{{ b.id }}" class="btn btn-default btn-sm" target="_blank">
									<i class="glyphicon glyphicon-print"></i>
								</a>
							</td>
						</tr>
		    		</tbody>
		    	</table>
		    </div>
		  </div>
					
		</div>
	</div>

	<div class="panel panel-primary" ng-show="resultados">
		
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Dirección</th>
						<th>Teléfono</th>
						<th>Correo</th>
						<th>Puesto</th>
					</tr>
				</thead>
				<tbody ng-cloak>
					<tr ng-repeat="e in empleados track by $index" ng-click="getEmpleado($index)">
						<td>{{ e.nombre }} {{ e.apellidos }}</td>
						<td>{{ e.direccion }}</td>
						<td>{{ e.telefono }}</td>
						<td>{{ e.correo }}</td>
						<td>{{ e.puesto }}</td>
					</tr>
				</tbody>
				<tfoot ng-show="buscarmas">
					<tr>
						<td colspan="5" class="text-center">
							<button type="button" class="btn btn-default" ng-click="mas()">Más</button>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		
	</div>
</div>

	