<style>
	td {
		padding-left: 0px;
		padding-right: 0px;
	}

	td > input {
		width: 85px;
	}

	#tablaNomina {
		font-size: 0.8em;
	}
</style>

<div class="container-fluid" ng-controller="transNominaController">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <form class="navbar-form navbar-left" ng-submit="buscar(bus)">
	      	<div class="form-group">
	      		<label for="selectEmpresa">Empresa:</label>
	      		<select class="form-control" ng-model="bus.empresa" id="selectEmpresa">
	      			<option ng-repeat="option in empresas" value="{{option.id}}">{{option.nomempresa}}</option>
	      		</select>
	      	</div>
	        <div class="form-group">
	          <input type="date" ng-model="bus.fch" class="form-control" placeholder="yyyy-MM-dd">
	        </div>
	        <button type="submit" class="btn btn-default" id="btnBuscar" data-loading-text="Buscando...">
	        	<i class="glyphicon glyphicon-search"></i>
	        </button>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	
	<div class="row">
		<div class="col-sm-2">
			<div class="well well-sm">
				<div class="list-group">
				  <a href="javascript:;" class="list-group-item" ng-click="showIngresos()">Devengados</a>
				  <a href="javascript:;" class="list-group-item" ng-click="showDescuentos()">Deducidos</a>
				</div>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="panel panel-primary">
				<table class="table table-condensed table-hover" id="tablaNomina" ng-show="edicion">
					<thead>
						<tr>
							<th>Empleado</th>
							<th class="text-right" ng-show="shingresos_uno">Anticipo</th>
							
							<th class="text-right" ng-show="shingresos_dos" title="Sueldo Ordinario">S. Ordinario</th>
							<th class="text-right" ng-show="shingresos_dos" title="Sueldo Extra">S. Extra</th>
							<th class="text-right" ng-show="shingresos_dos">Viáticos</th>
							<th class="text-right" ng-show="shingresos_dos">Aguinaldo</th>
							<th class="text-right" ng-show="shingresos_dos">Indemnización</th>
							<th class="text-right" ng-show="shingresos_dos">Bono 14</th>
							<th class="text-right" ng-show="shingresos_dos">Vaciones</th>
							<th class="text-right" ng-show="shingresos_dos" title="Otros Ingresos">Otros</th>
							<th class="text-right" ng-show="shingresos_dos">Horas Extras</th>
							<th class="text-right" ng-show="shingresos_dos" title="Horas Extras Dobles">Horas Dobles</th>
							
							<!-- th class="text-right" ng-show="shingresos_dos" title="Días Tabajados">Días</th -->
							<th class="text-right" ng-show="shdescuentos">Préstamo</th>
							<th class="text-right" ng-show="shdescuentos" title="Retención de ISR">ISR</th>
							<th class="text-right" ng-show="shdescuentos" title="Otros Descuentos">Otros</th>
							<!-- th class="text-right" ng-show="shdescuentos">Horas Extras</th>
							<th class="text-right" ng-show="shdescuentos" title="Descuento Vacaciones">Vacaciones</th -->
						</tr>
					</thead>
					<tbody ng-cloak>
						<tr ng-repeat="(indice, valor) in nomina">
							<td>{{ valor.nempleado }}</td>

							<td class="text-right" ng-show="shingresos_uno"><input type="number" step="0.01" ng-model="valor.anticipo" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>

							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.sueldoordinario" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.sueldoextra" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.viaticos" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.aguinaldo" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.indemnizacion" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.bonocatorce" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.vacaciones" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.otrosingresos" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.horasmes" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01" ng-model="valor.hedcantidad" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>

							
							<!-- td class="text-right" ng-show="shingresos_dos"><input type="number" step="0.01"></td -->
							<td class="text-right" ng-show="shdescuentos"><input type="number" step="0.01" ng-model="valor.descprestamo" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shdescuentos"><input type="number" step="0.01" ng-model="valor.descisr" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>
							<td class="text-right" ng-show="shdescuentos"><input type="number" step="0.01" ng-model="valor.descotros" string-to-number ng-blur="actualizarNomina(valor, indice)"></td>

							<!-- td class="text-right" ng-show="shdescuentos"><input type="number" step="0.01"></td>
							<td class="text-right" ng-show="shdescuentos"><input type="number" step="0.01"></td -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>