<div class="container-fluid" ng-controller="transPrestamoController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/pln/mnt/prestamo">Préstamo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" ng-submit="buscar(bus)">
            <div class="form-group">
              <input type="text" ng-model="bus.termino" class="form-control" placeholder="Buscar">
            </div>
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
            </button>
          </form>
          <button type="button" class="btn btn-xs btn-default navbar-btn" ng-click="mostrarForm()">
              <i class="glyphicon glyphicon-plus"></i> Nuevo
          </button>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="panel panel-primary" ng-show="formulario">
        <div class="panel-heading">
            <h3 class="panel-title">
                Formulario para préstamo
                <button class="btn btn-xs btn-danger pull-right" ng-click="formulario = false">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" ng-submit="guardar(pre)">
                <div class="form-group form-group-sm">
                    <label for="selectEmpleado" class="col-sm-2 control-label">Empleado:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="empleado" ng-model="pre.idplnempleado" id="selectEmpleado">
                            <option value="">------</option>
                            <option ng-repeat="empleado in empleados" value="{{empleado.id}}">{{empleado.nombre}} {{empleado.apellidos}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="inputMonto" class="col-sm-2 control-label">Monto Q:</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" class="form-control" id="inputMonto" name="monto" ng-model="pre.monto" required="required">
                    </div>
                    <label for="inputCuotaMensual" class="col-sm-2 control-label">Cuota Mensual:</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" class="form-control" id="inputCuotaMensual" name="cuotamensual" ng-model="pre.cuotamensual" required="required">
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="inputInicioPago" class="col-sm-2 control-label">Inicio de Pago:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="inputInicioPago" name="fechainicio" ng-model="pre.fechainicio" required="required">
                    </div>
                    <label for="inputFechaLiquidacion" class="col-sm-2 control-label" title="Cancelación por Liquidación">Cancelación:</label>
                    <div class="col-sm-4" data-toggle="tooltip" data-placement="top" title="Al ingresar esta fecha el préstamos queda como finalizado.">
                        <input type="date" class="form-control" id="inputFechaLiquidacion" name="fechafin" ng-model="pre.fechafin">
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="areaConcepto" class="col-sm-2 control-label">Concepto:</label>
                    <div class="col-sm-10">
                        <textarea name="concepto" ng-model="pre.concepto" class="form-control" id="areaConcepto" required="required" rows="3" placeholder="Concepto de préstamo"></textarea>
                    </div>
                </div>
                
        
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6" ng-show="omisiones">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr class="active">
                                    <th colspan="3">Descuentos no realizados</th>
                                </tr>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Usuario</th>
                                    <th>Registro</th>
                                </tr>
                            </thead>
                            <tbody ng-cloak="">
                                <tr ng-repeat="o in omisiones track by $index">
                                    <td>{{ o.fecha | date:'dd/MM/yyyy' }}</td>
                                    <th>{{ o.nombre }}</th>
                                    <td>{{ o.registro | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr class="active">
                                    <th colspan="3">Abonos Directos</th>
                                </tr>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Concepto</th>
                                    <th class="text-right">Monto</th>
                                </tr>
                            </thead>
                            <tbody ng-cloak="">
                                <tr ng-repeat="a in abonos track by $index">
                                    <td>{{ a.fecha | date:'dd/MM/yyyy' }}</td>
                                    <th><small>{{ a.concepto }}</small></th>
                                    <td class="text-right">{{ a.monto | number }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 text-right">
                        <a class="btn btn-default btn-sm" ng-href="/sayet/pln/php/controllers/prestamo.php/imprimir/{{pre.id}}" ng-show="hay" target="_blank" title="Imprimir préstamo">
                            <i class="glyphicon glyphicon-print"></i>
                        </a>
                        <button type="button" class="btn btn-success btn-sm" ng-show="pre.finalizado == 0" data-toggle="modal" data-target="#mdlAbono">
                            <i class="glyphicon glyphicon-plus"></i> Abono Directo
                        </button>
                        <button type="button" class="btn btn-warning btn-sm" ng-show="pre.finalizado == 0" data-toggle="modal" data-target="#myModal">
                            <i class="glyphicon glyphicon-ban-circle"></i> No Descontar
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-primary" ng-show="resultados">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th title="Fecha de ingreso del préstamo al sistema">Ingreso</th>
                        <th>Inicio</th>
                        <th>Empleado</th>
                        <th>Concepto</th>
                        <th class="text-right">Cuota</th>
                        <th class="text-right">Monto</th>
                        <th class="text-right">Saldo</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody ng-cloak>
                    <tr ng-repeat="p in prestamos track by $index" ng-click="getPrestamo($index)">
                        <td>{{ p.id }}</td>
                        <td>{{ p.fecha | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>{{ p.iniciopago | date:'dd/MM/yyyy' }}</td>
                        <td>{{ p.nombre}} {{p.apellidos}}</td>
                        <td>{{ p.concepto }}</td>
                        <td class="text-right">{{ p.cuotamensual | number }}</td>
                        <td class="text-right">{{ p.monto | number }}</td>
                        <td class="text-right">{{ p.saldo | number }}</td>
                        <td class="text-right">
                            <a ng-href="/sayet/pln/php/controllers/prestamo.php/imprimir/{{p.id}}" target="_blank">
                                <i class="glyphicon glyphicon-print"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="buscarmas">
                    <tr>
                        <td colspan="9" class="text-center">
                            <button type="button" class="btn btn-default" ng-click="mas()">Más</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Ingrese Fecha de Omisión</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form" ng-submit="false">
                    <div class="form-group form-group-sm">
                        <label for="inputFechaOmision" class="col-sm-3 control-label">Fecha:</label>
                        <div class="col-sm-9">
                            <input type="date" ng-model="omi.fecha_omision" class="form-control" id="inputFechaOmision" required>
                            <span id="helpBlock" class="help-block">Debe ser el último día del mes.</span>
                        </div>
                    </div>
              </form>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
                <button 
                    type="button" 
                    class="btn btn-sm btn-primary" 
                    ng-click="guardarOmision(omi)" 
                    id="btnGuardarOmision" 
                    data-loading-text="Guardando..."
                >Guardar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal para los abonos directos -->
      <div class="modal fade" id="mdlAbono" tabindex="-1" role="dialog" aria-labelledby="mdlAbonoLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="mdlAbonoLabel">Abono Directo</h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form" ng-submit="false">
                        <div class="form-group form-group-sm">
                            <label for="inputAbonoFecha" class="col-sm-2 control-label">Fecha:</label>
                            <div class="col-sm-4">
                                <input type="date" ng-model="abono.fecha_abono" class="form-control" id="inputAbonoFecha" required>
                            </div>
                            <label for="inputAbonoMonto" class="col-sm-2 control-label">Monto:</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" ng-model="abono.monto" class="form-control" id="inputAbonoMonto" required>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="areaConcepto" class="col-sm-2 control-label">Concepto:</label>
                            <div class="col-sm-10">
                                <textarea ng-model="abono.concepto" class="form-control" id="areaConcepto" rows="3" required></textarea>
                            </div>
                        </div>
                  </form>
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        <i class="glyphicon glyphicon-remove"></i> Cerrar
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-sm btn-primary" 
                        ng-click="guardarAbono(abono)" 
                        id="btnGuardarAbono" 
                        data-loading-text="Guardando..."
                    > <i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
              </div>
            </div>
          </div>
</div>